/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  display: flex;
  flex-direction: column; }
  main .contenedor-home {
    justify-content: center;
    margin: 1rem; }
  main .img-home {
    display: flex;
    justify-content: center;
    margin: 3rem; }
    main .img-home img {
      width: 90%; }

footer {
  background-color: #14364d;
  color: white;
  padding: 1rem; }
