main{
    .contenedor-precio{
        display: flex;
        flex-direction: column;
            align-items: center;
            gap: 1rem;
        .card{
            display: flex;
            align-items: center;
        }
    }
}
@media screen and (min-width:1024px){
    main{
        .contenedor-precio{
            display: flex;
            
        }
    }
}